.services {
    z-index: 2;
    width: 100%;
    height: 100%;
    /* background-image: url("/src/assets/hero-background.jpg"); */
    background: linear-gradient(-45deg, #f1f1f1, #f1f2f6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.services-content {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 50px 0 30px 0;
}


.services-content span {
    font-size: 16px;
    color: var(--text);
    margin: 0;
    padding: 0;
    font-weight: 500;
}

.services-content h2 {
    /* padding: 0 400px; */
    width: 40%;
    margin: 5px 0;
    text-align: center;
    line-height: 1.5;
    font-weight: 600;
    color: var(--primary);
}

.services-card {
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
    /* padding: 30px 0; */
}

.services-card ul {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    padding: 10px;
}

.services-card li {
    text-align: center;
    padding: 25px 10px;
    border-radius: 5px;
    cursor: pointer;
    background: transparent;
}

.services-card li:hover {
    background: var(--secondary);
    color: #fff;
}

.services-card li:hover h3 {
    color: white;
}

.services-card h3 {
    color: var(--primary);
}

.services-card li:hover span,
.services-desc {
    color: #fff;
}

.services-card li:hover .services-desc {
    color: #fff;
}


.services-card .service-icon img {
    width: 20%;
    height: 20%;
}

.services-card .service-icon span {
    position: relative;
    right: 35px;
    top: 10px;
    font-size: 45px;
    color: var(--text);
    font-weight: 900;
}

.services-card p {
    color: var(--text);
}

*/

/* Styles de base pour les éléments avant l'animation */
.services-card .forme-animated {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

/* Styles lorsque les éléments deviennent visibles */
.services-card .forme-animated.is-visible {
    opacity: 1;
    transform: translateY(0);
    animation: slideInFromBottom 1s ease-out forwards;
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


@media (max-width:1200px) {
    .services-content h2 {
        width: 50%;
    }

    .services-card ul {
        padding: 0;
    }
}


@media (max-width:1000px) {
    .services-content h2 {
        width: 65%;
    }

    .services-card ul {
        padding: 0;
    }
}


@media (max-width:600px) {
    .services-content h2 {
        width: 95%;
    }

    .services-card ul {
        padding: 0;
    }
}

@media (max-width:500px) {
    .services-content h2 {
        width: 100%;
    }

    .services-card ul {
        padding: 0;
    }
}