.serviceHero {
    width: 100%;
    height: 100%;
    background: var(--blue-spiro);
    display: flex;
    justify-content: center;
}

.serviceHero-wrapper {
    display: flex;
    width: 90%;
    height: 38rem;
    justify-content: space-between;
    margin-top: 150px;
}

.service-wrapper .services-card {
    width: 90%;
}

.service-wrapper .services-card li {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1),
        0 1px 3px rgba(0, 0, 0, 0.08);
    /* background: #f1f1f1; */
}

.service-wrapper .services-card h3 {
    font-size: 20px;
    font-weight: 600;
    color: var(--primary);
}

.service-wrapper .services-card p {
    font-size: 18px;
    font-size: 600;
    color: #333;
}

.service-wrapper .services-card li:hover h3 {
    color: #fff;
}

.service-wrapper .services-card li:hover p {
    color: #fff;
}

.service-wrapper .services-card li:hover span {
    color: var(--primary);
}

.serviceHero-left {
    flex: 1;
    align-items: center;
    width: 100%;
    height: 100%;
}

.serviceHero-left h1 {
    font-size: 50px;
    font-weight: 600;
    line-height: 1.5;

}

.serviceHero-left p {
    font-size: 20px;
    font-weight: 500;
}

.serviceHero-right {
    flex: 1;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: center;
}

.serviceHero-right img {
    width: 100%;
}

.service-wrapper {
    width: 100%;
    background: #fdfdfd;
    display: flex;
    justify-content: center;
}

.serviceInfo {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 90%;
    height: 100%;
    flex-direction: column;
    position: relative;
    bottom: 100px;
}

.serviceTitle {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.serviceInfo .serviceInfo-left {
    width: 50%;
    height: 100%;
}

.serviceInfo .serviceInfo-center {
    width: 100%;
    height: 100%;
    text-align: end;
    display: flex;
    justify-content: end;
}


.service-title {
    color: #182C61;
    text-align: center;
    font-size: 26px;
    font-weight: 600;
}

.serviceInfo .service-info {
    color: #333;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    text-align: center;
    padding: 0 5rem;
}

.serviceInfo .info-title {
    color: #182C61;
    font-size: 24px;
    font-weight: 600;
}

.serviceInfo .info-desc {
    color: #333;
    font-size: 16px;
    font-weight: 500;
}

.serviceInfo .center-info {
    width: 50%;
}

.serviceInfo .serviceInfo-right {
    width: 50%;
    height: 100%;
}


.serviceInfo .serviceInfo-off {
    width: 100%;
    height: 100%;
    text-align: end;
    display: flex;
    justify-content: end;
}

.icon-over {
    position: absolute;
    top: 200px;
    left: 55%;
    font-size: 150px;
}

.icon-over img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.primary-text {
    font-size: 16px;
    color: var(--text);
    margin: 0;
    padding: 0;
    font-weight: 600;
}

.secondary-text {
    margin: 5px 0;
    text-align: start;
    line-height: 1.5;
    font-weight: 600;
    color: var(--primary);
}


@media (max-width:1200px) {
    .serviceHero-left h1 {
        font-size: 35px;
    }
}

@media (max-width:1000px) {
    .serviceHero-wrapper {
        margin-top: 100px;
    }

    .serviceHero-wrapper .serviceHero-left h1 {
        font-size: 27px;
    }

    .serviceHero-wrapper .serviceHero-left p {
        font-size: 16px;
    }

    .serviceInfo .serviceInfo-left {
        width: 100%;
    }

    .serviceInfo .center-info {
        width: 100%;
    }

    .serviceInfo .serviceInfo-right {
        width: 100%;
    }
}

@media (max-width:900px) {
    .serviceHero-wrapper {
        flex-direction: column;
    }
}

@media (max-width:640px) {
    .serviceHero-wrapper {
        margin-top: 100px;
        height: 25rem;
    }

    .serviceHero-left h1 {
        font-size: 25px;
    }

    .serviceHero-left p {
        font-size: 14px;
    }
}

@media (max-width:600px) {
    .serviceHero-wrapper .serviceHero-right {
        display: none;
    }

    .serviceHero-wrapper {
        height: 30rem;
    }

    .serviceInfo .service-info {
        padding: 0;
    }
}