.products {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /* background: linear-gradient(-75deg, #1B9CFC, #182C61); */
    background-color: white;
}

.products-content {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    margin: 50px 0 30px 0;
    gap: 30px;
    color: #fff;
}

.products-title {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: flex-start;
    flex-direction: column;
}

.products-card-title {
    width: 100%;
}

.products .products-info {
    color: var(--text);
}


.products-title h2 {
    font-size: 24px;
    color: var(--primary);
    font-weight: 600;
}


.products-title .products-desc {
    color: black;
    font-size: 14px;
    font-weight: 500;
}

.products-title a {
    padding: 7px 40px;
    border: 1px solid #000;
    border-radius: 7px;
    transition: 0.5s ease-out;
    color: #000;
    align-items: center;
    justify-content: center;
    display: flex;
}

.products-title a:hover {
    background-color: var(--blue-spiro);
    color: #fff;
    border: none;
}

.products-title span {
    color: #fff;
}

.products-title .secondary-text {
    margin-right: 50%;
    margin-bottom: 25px;
    line-height: 1.1;
    color: #fff;
}

.products-card {
    width: 100%;
    height: 100%;
    color: #000;
    overflow: hidden;
}

.products-card ul {
    width: 100%;
    display: flex;
    overflow: hidden;
    list-style-type: none;
    gap: 20px;
    padding: 0;
    overflow-x: scroll;
    cursor: grab;
    scroll-behavior: smooth;
}

.products-card ul::-webkit-scrollbar {
    display: none;
}

.products-card li {
    width: 300px;
    height: 100%;
    background-color: #f0f0f0;
    /* Couleur de fond pour les items (optionnel) */
    padding: 40px;
    text-align: center;
    border: 1px solid #ddd;
    /* Bordure (optionnel) */
    border-radius: 15px;
}

.products-card li:hover {
    background: #e7e7e7;
}

.products-card li img {
    width: 100%;
}

.products-card li h3 {
    font-size: 24px;
    font-weight: 500;
    padding: 0;
    margin: 0;
}

.products-card li p {
    cursor: pointer;
    font-size: 16px;
}

.products-card li a {
    background: #000;
    color: #fff;
    padding: 12px;
    border-radius: 8px;
}

.products-card li a:hover {
    background: #141414;
}

.products-card .poducts-button {
    display: flex;
    gap: 50px;
}

.poducts-button span {
    background: #000;
    color: #fff;
    padding: 10px;
    border-radius: 7px;
    cursor: pointer;
    outline: none;
}

.poducts-btn span:hover {
    background: #141414;
}

@media (max-width:1000px) {
    .products-content {
        flex-direction: column;
    }

    .products-title a {
        padding: 8px 40px;
    }
}

@media (max-width:570px) {
    .products-card ul {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Styles de base pour les éléments avant l'animation */
.products-title .forme-animated {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

/* Styles lorsque les éléments deviennent visibles */
.products-title .forme-animated.is-visible {
    opacity: 1;
    transform: translateY(0);
    animation: slideInFromBottom 1s ease-out forwards;
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}