.teams {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.teams-content {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* margin: 50px 0 30px 0; */
    margin-bottom: 50px;
    gap: 80px;
}

.teams-left {
    flex: 1;
    text-align: start;
    margin-top: 10%;
}

.teams-left h2 {
    color: var(--primary);
}

.teams-left a {
    padding: 10px 40px;
    border: 1px solid #696969;
    border-radius: 7px;
    transition: 0.5s ease-out;
}

.teams-left a:hover {
    background-color: var(--blue-spiro);
    color: #fff;
    border: none;
}

.teams-left p {
    padding: 30px 30px 20px 0;
    color: var(--text);
}

.teams-left .teams-secondary-text {
    margin: 0;
    line-height: 1.1;
}

.teams-right {
    flex: 1;
}

.title-team h2 {
    color: var(--primary);
}

/* A modifier */
.teams-right ul {
    margin: 0;
    padding: 0;
}

.teams-right .title-team {
    display: flex;
    justify-content: center;
    width: 100%;
}

.teams-right .title-team h2 {
    font-weight: 600;
    color: var(--primary);
}

.team-item-img {
    display: flex;
    align-items: center;
    gap: 10px;
}

.team-item-img .team-detail h4 {
    color: var(--primary);
}

.team-item-img .team-detail .team-item-desc {
    color: var(--text);
}

.teams-right li {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.teams-right li img {
    width: 100px;
}




/* Ajoutez le préfixe 'teams-' pour éviter les conflits */
.teams-text-animated,
.teams-animate-top,
.teams-blob-animated,
.teams-forme-animated {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

/* Appliquez les animations spécifiques pour 'Teams' */
.teams-is-visible {
    opacity: 1;
    transform: translateY(0);
}

/* Animations spécifiques pour 'Teams' */
@keyframes teams-slideInFromTop {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes teams-slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Utilisez ces nouvelles animations */
.teams-animate-top {
    animation: teams-slideInFromTop 1s ease-out forwards;
}

.teams-text-animated {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    animation: teams-typing 2s steps(20) alternate;
}

.teams-blob-animated {
    overflow: hidden;
    animation: teams-slideInFromTop 2s steps(20) alternate;
}

.teams-forme-animated {
    overflow: hidden;
    animation: teams-slideInFromLeft 2s steps(20) alternate;
}

@keyframes teams-typing {
    from {
        width: 0;
    }

    to {
        width: 22%;
    }
}

@media (max-width:600px) {
    .teams-content {
        flex-direction: column;
    }

    .teams-right ul {
        padding: 0;
        gap: 20px;
    }

    .teams-right li {
        margin: 0;
        padding: 0 10px;
    }

    .teams-team-title .teams-team-number {
        font-size: 30px;
    }

    .teams-team-title .teams-icon-add {
        font-size: 14px;
    }

    .teams-team-title .teams-name-item {
        font-size: 14px;
    }

    .teams-team-item span {
        font-size: 14px;
    }

    .teams-left h2 {
        font-size: 20px;
    }

    .teams-left .teams-secondary-text {
        font-size: 14px;
    }

    .teams-left p {
        font-size: 14px;
    }

    .teams-left a {
        width: 70px;
        font-size: 14px;
        padding: 6px 30px;
    }
}

@media (max-width:1000px) {
    .teams-content {
        flex-direction: column;
    }

    .teams-right li {
        margin-left: 0;
    }

    .teams-right ul {
        padding: 0;
    }

    .teams-right .title-team {
        margin-bottom: 10px;
        margin-top: 0;
    }

    .teams-right .title-team h2 {
        margin-right: 45%;
    }

    .teams-left {
        margin-top: 0;
    }

}