.footer {
    z-index: 2;
    width: 100%;
    height: 100%;
    /* background-image: url("/src/assets/hero-background.jpg"); */
    /* background: linear-gradient(75deg, #182C61, #f9ca24, #f9cb24ad); */
    /* background: #375197; */
    background: var(--primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.footer-content {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 50px 0 30px 0;
    color: #fff;
    overflow: hidden;
}

.footer-content ul {
    width: 100%;
    list-style: none;
    display: flex;
    gap: 7px;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.footer-content li {
    width: 100%;
    gap: 50px;
}

.footer-content ul h4 {
    font-size: 26px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 20px;
}

.footer-content a {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
}

.footer-content a:hover {
    color: var(--secondary);
}

.footer-item {
    display: flex;
    flex-direction: column;
}

.footer-formation {
    width: 100%;
    display: flex;
}

.footer-formation ul {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.footer-cta {
    color: #fff;
    padding: 0 500px;
    text-align: center;
    margin-bottom: 50px;
    width: 100%;
    font-weight: 500;
}

/* Styles de base pour les éléments avant l'animation */
.footer .forme-animated {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

/* Styles lorsque les éléments deviennent visibles */
.footer .forme-animated.is-visible {
    opacity: 1;
    transform: translateY(0);
    animation: slideInFromBottom 1s ease-out forwards;
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


@media (max-width:940px) {
    .footer-content ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 2fr);
        gap: 30px;
        height: auto;
    }

    .footer-content li {
        height: auto;
    }

    .footer .footer-cta {
        padding: 0 50px;
    }
}

@media (max-width:740px) {
    .footer-content ul {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 2fr);
    }

    .footer .footer-cta {
        padding: 0 50px;
    }
}

@media (max-width:500px) {
    .footer-cta {
        font-size: 14px;
    }
}